.login {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &--header {
    background: #481afd;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  &--form {

  }
}