.messages {
  padding: 1rem;

  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 1rem;

    label {
      font-size: 1.25rem;
    }
  }
}