.home {
  background: white;
  padding: 2rem;
  min-height: 93vh;

  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    &--options {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background: #f9f9f9;
      padding: 1rem;
      border-radius: 1rem;
      border: .1rem solid #ccc;
    }

    label {
      font-size: 1.4rem;
    }
  }
}